
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #282c34;
  }

  * {
    scrollbar-width: thin; 
  }
  
  *::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  *::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  @layer utilities {
   
    .sent {
        flex-direction: row-reverse;
      }
      
      .sent p {
        color: white;
        background: #0b93f6;
        align-self: flex-end;
      }
      .received p {
        background: #e5e5ea;
        color: black;
      }
  }